
body {
	margin: 0;
	font-family: 'Lora', serif;
	background-color: #1E152A;
	color: #68CDD9;
}

h1{
	color: #1E152A;
}

.name {
	color: #f5d451;
}


a {
  text-align: center;
  margin: 5px;
}

a:link    { color: #68CDD9 }
a:visited { color: #68CDD9 }
a:hover   { color:#D1DBDB }

h2, h4{
	text-align: center;
	font-family: 'Roboto';
}

h3 {
	margin-bottom: 20px;
}

.profile{
	float: right;
	border-radius: 20px;
	width: 100%;
	margin: 20px;
}


ul{
	list-style-type: none;
	text-align: center;
}

li{
	display: inline;
}

.skills{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 8px;
}

.skills .skill-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills .dropdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testing {
	margin-top: 15px;
}

.items {
	flex: 1;
}

.items-double {
	flex: 2;
	margin: 20px;
}

.projectCard {
	width: 300px;
	min-height: 450px;
  border-radius: 8px;
  border: 2px rgb(104, 104, 104) solid;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
	margin-top: 25px;
	color: black;
}

.projectLink:link {
	color: blue;
}
.projectLink:visited {
	color: rgb(18, 18, 236);
}
.projectLink:hover{
	color: rgb(69, 69, 250);
}


img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.container {
	padding: 2px 16px;
	margin: 10px;
}

footer {
	justify-content: center;
	align-items: center;
}

footer li {
	margin: 10px;
}

@media all and (min-width: 800px){
	.flex-container{
		display: flex;
		flex-direction: row;
	}

	.items-double{
		font-size: 25px;
		padding: 30px;
		margin: 20px 100px;
		border-radius: 20px;
  	border: 2px #f5d451 solid;
	}

}