
body {
	background-image: url("https://i.pinimg.com/originals/e0/d0/67/e0d067202106b85c5d1fc7a67683704f.jpg");
    background-position: center center;
	background-size: cover; */
	 /* removed image to simplify portfolio
	/* background-color: #949494; */
	margin: 0;
}
header {
	background-color: rgb(12, 4, 78);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header h1{
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 52px;
    color: #fff;

    
}

header nav{
    display: flex;
    justify-content: center;
    
    
}

header nav ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    
}

header nav ul li a{
    font-family: Montserrat;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    
    
}
/* header nav ul li: last-child a{  need to fix syntax cause other issues
    margin-right: 0;
} */



/* adding to make links more dynamic*/
a {
	font-size: 30px;
	padding-left: 15px;
	text-shadow: 1px 1px rgb(75, 74, 74);
  }
  
a:link    { color:  rgb(18, 198, 243);  }
a:visited { color: rgb(18, 198, 243);   }
a:hover   { color:rgb(58, 44, 250);  }
a:active { color: rgb(57, 120, 236);} 


.navbar {
	text-align: end;
}

h2, h3{ /* all headers to be centered and same padding*/
	padding:20px;
	text-align: center;
}


p{
	background-color: rgb(0, 5, 12);
	font-size: 25px;
	font-family: futura;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 70px;
	padding:20px;
}

.profile{
	float: right;
	width: 500px;
	height: 550px;
	margin: 15px;
	border-radius: 50%;
	padding-bottom:35px;
}

h2{
	font-size: 50px;
	margin:20px;
	padding-top:20px;
}

h3{
	font-size: 30px;
	margin-top:20px;
	padding-top:15px;
}

.white-text{
  color: white;
}
.black-text{
  color: rgb(0,0,0);
}
.box{
	background-color:#949494;
	margin:20px 60px;
	
}

ul{
	
	text-align: center;
	list-style:circle;
	list-style-position: inside;
}
ol{
	list-style: upper-roman;
	text-align: center;
	list-style-position: inside;
}
li{
	display: inline;
}
img{
	width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.photo-container {
	text-align: center;
	margin: 10%;
	width: 300px;
	height: 169px;
}
.flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0px auto;
}
.items {
	flex: 1;
}
.items-double {
	flex: 2;
}


@media all and (min-width: 600px){
	.flex-container{
		flex-direction: row;
	}
	header{
        display: flex;
        padding: 0 30px;
        
    }
    header nav h1{
        margin: 10px 150px 10px 0;
        padding-top: 0;
        font-size: 48px;

	}
	
	header nav ul{
		margin: 14px 0 0 300px;
	}
	
    header nav ul li a:hover {
        color: #bdbdbd;
    }
}